<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas - Vortex</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{url_for('static', filename='tema.js')}}"></script>
</head>
<body>
    <div class="card_cima">
        
            <img class="imagem_vortexx"src="{{ url_for('static', filename='imagens/logo_transparente (1).svg') }}" alt="logo do vortex"> 
            <h1 class="nome_logo">Vortex AI</h1>
            <img class="imagem-perfil" src="{{ foto_perfil_url }}" alt="Foto do perfil" onclick="window.location.href='{{ url_for('perfil') }}'">
    </div>

    <div class="layout">
        <div class="card_lado">
            <nav class="menu-lateral">
                <ul>
                    <li class="item-menu">
                        <a href="{{url_for('assistente_academica')}}">
                            <span class="icon"><i class="bi bi-robot"></i></span>
                            <span class="txt-link">Assistente IA</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('modo_foco')}}">
                            <span class="icon"><i class="bi bi-bullseye"></i></span>
                            <span class="txt-link">Modo Foco</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('tarefas')}}" class="ativo">
                            <span class="icon"><i class="bi bi-book-half"></i></span>
                            <span class="txt-link">Tarefas</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('flashcards')}}" class="btn-flashcard">
                            <span class="icon"><i class="bi bi-card-text"></i></span>
                            <span class="txt-link">Flashcard</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('simulado')}}" class="btn-simulado">
                            <span class="icon"><i class="bi bi-journal-text"></i></span>
                            <span class="txt-link">Simulado</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('vark')}}" class="btn-VARK">
                            <span class="icon"><i class="bi bi-palette"></i></span>
                            <span class="txt-link">VARK</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('calendario')}}" class="btn-calendario">
                            <span class="icon"><i class="bi bi-calendar-event"></i></span>
                            <span class="txt-link">Calendário</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('perfil')}}">
                            <span class="icon"><i class="bi bi-person-circle"></i></span>
                            <span class="txt-link">Perfil</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="{{url_for('ajustes')}}">
                            <span class="icon"><i class="bi bi-gear-fill"></i></span>
                            <span class="txt-link">Ajustes</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="{{url_for('logout')}}" class="btn-sair">
                            <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                            <span class="txt-link">Sair</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="conteudo">
            <div class="container">
                <h2>Sugestões de tarefas</h2>

                <div class="tarefas-box">
                    <ul id="tarefas"></ul>

                    <button class="gerar-btn" onclick="buscarSugestoes()">
                        Gerar tarefas
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% include "_notion_widget.html" %}
</body>
</html>
