@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.fundo{
    height: 200vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #060B1D;
}

nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: #0E1942;
    padding: 40px 0 40px 1%;
    box-shadow: 1.7px 0 0 #472B5E;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;

}

nav.menu-lateral:hover{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item-menu{
    transition: .8s;
    margin-bottom: 10px;
}


.item-menu a:hover{
    background: #BF6301;
    display: flex;
    justify-content: cen;
    transition: 1.5s;
    margin-left: -40px; 
}

.item-menu a{
    display: flex;
    justify-content: flex-start;
    color: #D1D1D1;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 17%; 
    line-height: 20px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;;
    
    
}

.item-menu a .txt-link{
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
}

.item-menu a .icon > i{
    display: flex;
    justify-content: flex-start;

    font-size: 30px;

    margin-left: -33px; 
} 