<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Assistente Vortex</title>
<link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>

<body>

<div class="login-container">

    <h2>Assistente Acadêmica Vortex 
    <img class="logo" src="{{ url_for('static', filename='imagens/logo_transparente (1).svg') }}" alt="Logo UniEvangélica">
    </h2>
    <p class="subtitle">Crie o seu usuário com a matrícula e senha.</p>

    {% if mensagem %}
    <p class="mensagem {{ tipo_mensagem }}">{{ mensagem }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('cadastro') }}">

        <label class="matricula">Matrícula</label>
        <input type="text" name="matricula" placeholder="Digite sua matrícula" required>

        <label class="senha">Senha</label>
        <input type="password" name="senha" placeholder="Digite sua senha" required>

        <button type="submit">Criar Conta</button>
    </form>

    <div class="options">
        <label class="checkbox"><input type="checkbox"> Lembrar de mim</label>
        <a class="forgot" href="#" >Esqueci minha senha</a>
    </div>

</div>

</body>
</html>